* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    max-width: 400px;
    margin: 0 auto;
    padding: 1.5rem;
}

h1 {
    text-align: center;
    color: #333;
}

#contenedor {
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
}
#contenedor input {
    width: 70%;
    padding: 1rem;
    margin-right: 1rem;
}
#contenedor button {
    padding: 8px 15px;
    background-color: rgb(14, 76, 14);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
ul{
    list-style-type: none;
}
li {
    padding: 1rem;
    border-bottom: 1px solid gray;
}